<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chickoos Blog</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}"/>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <ul class="nav-list">
          <li class="logo">CHICKOOS<li>
          <li class="nav-item">About</li>
          <li class="nav-item">Subscribe</li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <img src="https://images.unsplash.com/photo-1552689486-f6773047d19f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fGNha2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="cover image" class="cover"/>
      <h1 class="title">Welcome to Chickoos</h1>
      <h4 class="subtitle">Creating sweet memories</h4>
    </div>

      <div class="portfolio">
        <div class="cakes">This is the first Cake</div>
        <div class="cakes">This is the Second Cake</div>
      </div>
      <footer class="footer">
        <div class="copyright">All rights reserved- Chickoos Bhubaneswar</div>
      </footer>

  </body>
</html>
